<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Код</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>
<body style="background:var(--paper);padding:20px;">
<pre><code th:class="'language-' + ${language}" th:text="${content}">code</code></pre>
<script>hljs.highlightAll();</script>
</body>
</html>
